---
title: Table of Contents
description: this is a description from "toc.md"
---
<h1>{{{title}}}</h1>

<!-- post -->
{{#compose src="*.md"}}
  <p class="title">{{{title}}}</p>
  <p class="description">{{{description}}}</p>

  <a class="anchor" href="#{{@id}}"></a>
  <h2 class="blog-title">{{blog.title}}</h2>
  <h3 class="post-title" id="{{@title}}">{{@title}}</h3>
  <h3 class="post-slug" id="{{@slug}}">{{@slug}}</h3>
  <p class="post-content">{{{@content}}}</p>

  <div class="root-context">
    <span class="filename">filename: {{@filename}}</span>
    <span class="pagename">pagename: {{@pagename}}</span>
    <span class="basename">basename: {{@basename}}</span>
    <span class="ext">ext: {{../ext}}</span>
  </div>

  <div class="data-object">
    <span class="id">id: {{@id}}</span>
    <span class="filepath">filepath: {{@filepath}}</span>
    <span class="index">index: {{@index}}</span>
    <span class="number">number: {{@number}}</span>
    <span class="first">first: {{@first}}</span>
    <span class="prev">prev: {{@prev}}</span>
    <span class="next">next: {{@next}}</span>
    <span class="last">last: {{@last}}</span>
  </div>

  <ul class="tags">
  {{#tags}}
    <li>{{.}}</li>
  {{/tags}}
  </ul>
{{/compose}}