---
title: Table of Contents
description: this is a description from "toc.md"
---
<h1>{{{title}}}</h1>

<!-- post -->
{{#compose src="*.md"}}
  <h2 id="{{@slug}}">{{book.title}}</h2>
  <h3>Post title: {{title}}</h3>
  <p class="content">{{{@content}}}</p>

  <div class="root-context">
    <span class="filename">filename: {{@filename}}</span>
    <span class="pagename">pagename: {{@pagename}}</span>
    <span class="basename">basename: {{@basename}}</span>
    <span class="ext">ext: {{../ext}}</span>
  </div>

  <div class="data-object">
    <span class="id">id: {{@id}}</span>
    <span class="filepath">filepath: {{@filepath}}</span>
    <span class="index">index: {{@index}}</span>
    <span class="number">number: {{@number}}</span>
    <span class="first">first: {{@first}}</span>
    <span class="prev">prev: {{@prev}}</span>
    <span class="next">next: {{@next}}</span>
    <span class="last">last: {{@last}}</span>
  </div>

  <ul class="tags">
  {{#tags}}
    <li>{{.}}</li>
  {{/tags}}
  </ul>
{{/compose}}