---
title: Custom sep hash
description: Custom separator defined in the options hash.
sep: "<!-- sep -->"
---
{{{sep}}}
{{#compose '**/*.hbs' sep=sep}}
  <a class="anchor" href="#{{id}}"></a>
  <h1 class="title">{{blog.title}}</h1>
  <h2 class="subtitle">Post title: {{title}}</h2>
  <p class="content">Post {{{content}}}</p>

  <p class="origin">Content from {{name}}.</p>
  <ul class="tags">
  {{#tags}}
    <li class="link">{{.}}</li>
  {{/tags}}
  </ul>
{{/compose}}
