---
title: Markdown
description: Should process markdown
---
<h1>{{{title}}}</h1>

<!-- post -->
{{#compose src="book/*.md"}}
  <a class="anchor" href="#{{@id}}"></a>
  <h2 class="blog-title">{{blog.title}}</h2>
  <h3 class="post-title" id="{{@slug}}">Post title: {{title}}</h3>
  <p class="post-content">{{{@content}}}</p>

  <p class="content">
  {{#markdown}}
    {{{@content}}}
  {{/markdown}}
  </p>
  <ul class="tags">
  {{#tags}}
    <li>{{.}}</li>
  {{/tags}}
  </ul>
{{/compose}}